<div class="content-wrapper">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3957.692756676584!2d-34.89729688478438!3d-7.275758694748401!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ac95dfbb0ecefd%3A0xde5af3dd01a813f7!2sHotel%20Fazenda%20Para%C3%ADso%20do%20Conde!5e0!3m2!1spt-PT!2sbr!4v1676072618493!5m2!1spt-PT!2sbr" height="500" style="border:0; width: 100%;" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="map-nav">
        <a [href]="safeMapUrl" target="_blank">Abrir mapa</a>
    </div>
</div>