<div class="content-wrapper">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3957.6931217812876!2d-34.897395185225086!3d-7.275717294748458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xde84c3df4b83dfa3!2zN8KwMTYnMzIuNiJTIDM0wrA1Myc0Mi43Ilc!5e0!3m2!1spt-BR!2sbr!4v1675997924698!5m2!1spt-BR!2sbr" height="500" style="border:0; width: 100%;" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="map-nav">
        <a [href]="safeMapUrl" target="_blank">Abrir mapa</a>
    </div>
</div>