.list-item {
    border-bottom: 1px solid #d2d6e0;
}

.member {
    display: flex;
    justify-content: space-between;
}

.member .phone small {
    padding-left: 8px;
} 

.toggle-phone {
    padding-left: 4px;
}

.show-phone .toggle-phone {
    opacity: 0.5;
}

.toggle-phone .mat-icon {
    transform: scale(0.75);
}