:host {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
}

.error {
    width: 90%;
}

.footer {
    flex-shrink: 0;
}

.header {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    max-width: 192px;
    max-height: 108px;
    width: auto;
    height: auto;
}

.footer {
    text-align: center;
}

.footer h3 {
    font-size: 0.8em;
    font-weight: 400;
} 

.login {
    min-width: 300px;
    min-height: 300px;
    height: auto;
    width: auto;
    flex-grow: 1;
}

.card {
    padding: 8px;
}

.card-content {
    padding: 0;
}

.button {
    text-align: right;
}

.app-input {
    width: 100%;
}