:host {
    width: 100%;
    height: 100%;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
}

.header {
    flex-shrink: 0;
    background-color: #5e3bbe;
    height: 6vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}

.footer {
    flex-shrink: 0;
    background: #865aff;
    height: 8vh;
    border-top: 1px solid #5e3bbe;
    padding: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu-item {
    height: 100%;
    width: auto;
    padding: 24px 32px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}

.menu-item .icon {
    transform: scale(1.5);
    color: #f1f5ff;
}

.content {
    flex-grow: 1;
}

.main-content {
    overflow-x: hidden;
    overflow-y: auto;
    height: 82vh;
    margin-top: 1vh;
}