:root {
    --header-height: 60vh;
}

:host {
    width: 100%;
    height: 100%;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
}


.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 60px 8px 70px 8px;
}


.main-content {
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
}

.header {
    flex-shrink: 0;
    background-color: #5e3bbe;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0px 8px;
}

.header-content .logo {
    width: 60px;
    height: auto;
}

.header-content .logo img {
    width: 60px;
    height: auto;
}

.header-content .logout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.header-content .logout a {
    color: #f1f5ff;
    text-decoration: none;
}

.footer {
    flex-shrink: 0;
    background: #865aff;
    height: 70px;
    border-top: 1px solid #5e3bbe;
    padding: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu-item {
    height: 100%;
    width: auto;
    padding: 24px 32px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}

.menu-item .icon {
    transform: scale(1.5);
    color: #f1f5ff;
}
