<div class="content-wrapper">
    <div class="header">
        <div class="header-content">
            <div class="logo">
                <img src="/assets/img/logo_white_small.png" alt="elo">
            </div>
            <div class="logout">
                <a [routerLink]="'logout'">Sair</a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="main-content-wrapper">
            <div class="main-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class="footer">
        <nav [ngClass]="{'admin': isAdmin}" class="menu">
            <div matRipple *ngIf="!isAdmin"  [routerLink]="'main'" class="menu-item">
                <mat-icon class="icon" aria-hidden="false" aria-label="icon account" fontIcon="home"></mat-icon>
            </div>
            <div matRipple *ngIf="isAdmin"  [routerLink]="'admin/scan'" class="menu-item">
                <mat-icon class="icon" aria-hidden="false" aria-label="icon account" fontIcon="qr_code_scanner"></mat-icon>
            </div>
            <div matRipple *ngIf="isAdmin" [routerLink]="'admin/members'" class="menu-item">
                <mat-icon class="icon" aria-hidden="false" aria-label="icon members" fontIcon="group"></mat-icon>
            </div>
            <div matRipple [routerLink]="'badge'" class="menu-item">
                <mat-icon class="icon" aria-hidden="false" aria-label="icon bagde" fontIcon="badge"></mat-icon>
            </div>
            <div matRipple  [routerLink]="'map'" class="menu-item">
                <mat-icon class="icon" aria-hidden="false" aria-label="icon map" fontIcon="map"></mat-icon>
            </div>
        </nav>
    </div>
</div>